<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
</head>
<body>
    <h1>İslam Alimi</h1>
    <form action="/ask" method="post">
        <label for="user_question">Sorunuzu girin: </label>
        <input type="text" id="user_question" name="user_question">
        <button type="submit">Sor</button>
    </form>
    {% if response %}
        <p>Yapay Zeka Cevabı: {{ response }}</p>
    {% endif %}
</body>
</html>
